
echo ""

function echo::warning(){
    YELLOW="\033[0;33m"
    NO_COLOR="\033[0m"
    echo -e "${YELLOW}Warning: $1$NO_COLOR"
}

###################
# Project
###################

echo "Project: "
export PROJECT_ORGANISATION_NAME=$(yq --exit-status '.project.organization.name' pom.xml | tr '[:upper:]' '[:lower:]' | tr ' ' '-' )
echo "   Organization Name : $PROJECT_ORGANISATION_NAME"
export PROJECT_ROOT="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
echo "   Project Root      : $PROJECT_ROOT"


#################
# Shared repo
#################
SHARED_REPO_DIR_VAR_NAME="GIT_${PROJECT_ORGANISATION_NAME}_SHARED_REPO_DIR"
SHARED_REPO_DIR=$(realpath ${!SHARED_REPO_DIR_VAR_NAME:-$PWD/../repo-shared})
if [ ! -d $SHARED_REPO_DIR ]; then

    echo ""
    echo::warning "Shared repo $SHARED_REPO_DIR was not found"
    SHARED_REPO_URI_VAR_NAME="GIT_${PROJECT_ORGANISATION_NAME}_SHARED_REPO_URI"
    SHARED_URL="${!SHARED_REPO_URI_VAR_NAME:-https://github.com/combostrap/repo-shared.git}"
    echo::warning "Clone $URL to $SHARED_REPO_DIR? Y(Yes-Default)/N(No)"
    read CLONE
    if [ "$CLONE" == "" || $CLONE == "Y" ]; then
        git clone https://github.com/combostrap/repo-shared.git $SHARED_REPO_DIR
        echo::warning "Shared repo cloned"
    fi

fi

#################
# Conf
#################
if [ -d $SHARED_REPO_DIR ]; then

    MAVEN_SCRIPTS="$SHARED_REPO_DIR/maven"
    export PATH="$PATH:$MAVEN_SCRIPTS"
    echo "   Scripts Path      : $MAVEN_SCRIPTS"

    ###################
    # Git
    ###################
    $SHARED_REPO_DIR/git/config-user
    GIT_HOOKS="$PROJECT_ROOT/.git-hooks"
    $SHARED_REPO_DIR/git/config-hooks $GIT_HOOKS
    rsync $SHARED_REPO_DIR/git/hooks/commit-msg $GIT_HOOKS/commit-msg

else

    echo::warning "Shared repo not found: Maven path and git not configured"

fi

# Last EOL before direnv output
echo ""