# Function to check if an environment variable is set
check_env_var() {
    local var_name="$1"
    local var_value="$2"

    if [ -z "$var_value" ]; then
        echo "ERROR: $var_name environment variable is not set"
        echo "  Please set it in your shell profile, ~/.bashrc, ~/.zshrc, or ~/.config/direnv/direnvrc, or ~/.envrc.local"
        return 1
    fi
    return 0
}

echo ""

###################
# Project
###################

echo "Project: "
export PROJECT_ORGANISATION_NAME=$(yq --exit-status '.project.organization.name' pom.xml | tr '[:upper:]' '[:lower:]' | tr ' ' '-' )
echo "   Organization Name : $PROJECT_ORGANISATION_NAME"
export PATH="$PATH:$PWD/contrib/scripts"
echo "   Scripts Path      : contrib/scripts"
export PROJECT_ROOT="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
echo "   Project Root      : $PROJECT_ROOT"

###################
# Git
###################
echo ""
echo "Git configuration applied:"
# Git Hooks
# Add the git_hooks directory (modify the .git/config file)
git config core.hooksPath ./.git-hooks
echo "   HooksPath: .git-hooks"

# Git User Email
# Env name should be uppercase without minus
ENV_ORGANISATION_NAME=$(echo "$PROJECT_ORGANISATION_NAME" | tr '[:lower:]' '[:upper:]' | tr '-' '_' )
EMAIL_VAR="GIT_${ENV_ORGANISATION_NAME}_EMAIL"
EMAIL_VALUE="${!EMAIL_VAR}"
check_env_var "$EMAIL_VAR" "$EMAIL_VALUE" || return 1
git config user.email "$EMAIL_VALUE"
echo "   Email: $EMAIL_VALUE"

# Git signing key is the long format dir
# gpg --list-secret-keys --keyid-format=long
SIGNING_KEY_VAR="GIT_${ENV_ORGANISATION_NAME}_SIGNING_KEY"
SIGNING_KEY_VALUE="${!SIGNING_KEY_VAR}"
check_env_var "$SIGNING_KEY_VAR" "$SIGNING_KEY_VALUE" || return 1
git config user.signingkey "$SIGNING_KEY_VALUE"
echo "   GPG Key: $SIGNING_KEY_VALUE"

git config commit.gpgsign true
echo "   GPG Sign: true"

# Last EOL before direnv output
echo ""